## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.sln.ide/
*.user
*.userosscache
*.suo
*.userprefs
*.DotSettings.user

## JetBrains Rider
.idea/
*.sln.iml

## C++ specific
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.idb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate

## C# / .NET
*.nupkg
*.exe
*.dll
*.pdb
*.cache
[Ss]tyle[Cc]op.*

## VS Code
.vscode/

## CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

## Root-level build files (only SickoLoader/ is tracked)
/dllmain.cpp
/il2cpp-appdata.h
/il2cpp-helpers.cpp
/il2cpp-helpers.h
/il2cpp-init.cpp
/il2cpp-init.h
/pch-il2cpp.cpp
/pch-il2cpp.h
/version.cpp
/version.def
/version.h
IsamGui/gui-source/*
IsamGui/SickoMenu-main/*
IsamGui/*
sickosource/*